/*Fonts*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext);

body {
  font-family: 'Open Sans', sans-serif;
}


/*Color*/

body {
	color: #77787b;
}

.text-primary {
  color: #1cb5ea;
}
a.text-primary:hover {
  color: #00a6cc;
}

.text-warning {
  color: #ffb83b;
}
a.text-warning:hover {
  color: #ffb83b;
}

.bg-warning {
  background-color: #ffb83b;
}
a.bg-warning:hover {
  background-color: #ffb83b;
}

.text-invert {
	color: white;
}

code {
  color: #ee5437;
}

/*Buttons*/

.btn {
  padding: 6px 12px;
  line-height: 1.5;
  border-radius: 0;
  box-shadow: 0 2px 0 #e6e6e6;
}
.btn:hover,
.btn:focus {
  color: #4d4d4d;
  box-shadow: 2px 2px 2px #e6e6e6;
}
.btn-default {
  color: #4d4d4d;
  background-color: #fff;	
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #4d4d4d;
  background-color: #fff;
}

/*Main*/

.container {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}


/*Headers*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-weight: 300;
line-height: 1.5;
}


/*Images*/

.img-responsive {
	max-width: auto;
	width: 100%;
}


/*Navbar*/

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
}


/*Dropdowns*/

.dropdown-menu {
	background-color: transparent!important;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;	
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: transparent;
	position: relative;
	left: 2px;
}


/*3vot website specific*/

.page-main-section {
	background: #f1f2f2; /* Old browsers */
background: -moz-linear-gradient(top, #f1f2f2 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f2f2), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f1f2f2 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f1f2f2 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f1f2f2 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #f1f2f2 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.page-steps-section {
	width: 80%;
	margin: auto;
}
.page-step {
	border-bottom: 1px solid #e6e6e6;
}

.beta-panel-home {
	position: relative;
	top: -70px;
	box-shadow: 0 2px 0 #e6e6e6;
}

.quote {
	margin: 0 10px;
	background: white;
	box-shadow: 0 2px 0 #e6e6e6;
	height: auto;	
	padding: 20px 30px;
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

.internal-header {
	background-image: url(../assets/features-header-bg.jpg);
	height: 212px;
	background-repeat: repeat-x;
}

@media (max-width: 768px) {
	.quote {
		width: 90%;
		display: inline-block;
		vertical-align: top;
	}
}

